.main-caro {
  padding: 6%;
  background-color: whitesmoke;
}

.caro-h2 {
  text-align: start;
  font-size: 2rem;
  color: red;
  font-weight: 600;
}

.caro-h1 {
  text-align: start;
  font-size: 3rem;
}

.pizza-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}

.pizza-card-top{
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  /* line-height: 2; */
}

.pizza-card {
  max-width: 300px;
  width: calc(33.33% - 20px); /* Three cards per row */
  background-color: white;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  margin-bottom: 2%;
}

.pizza-card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.image-section img {
  width: 100%;
  height: auto;
  border-radius: 6px;
}

.pizza-details {
  padding: 10px 0;
  text-align: left;
}

.pizza-name {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.pizza-price {
  font-weight: bold;
  color: #fbb200;
}

.pizza-description {
  font-size: 0.9rem;
  color: #666;
  height: 5%;
  text-overflow: ellipsis;
}

.btn-order {
  width: 100%;
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #fbb200;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-order:hover {
  background-color: #dc3545;
}


.pizza-part{
  display: flex;
  justify-content: space-between;
}