.story {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: whitesmoke;
}

.left-part {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-part {
  width: 50%;
  height: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2;
  text-align: left;
}

.story-h2 {
  color: red;
  width: 100%;
  line-height: 2;
  font-size: 2rem;
}

.right-part .story-h2:before {
  content: "";
  position: absolute;
  bottom: -21.5%;
  left: calc(60% + 16px);
  background: #f22e3e;
  width: 90px;
  height: 2px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.story-h2-line{
  vertical-align: middle;
}

.story-h1{
  width: 100%;
  font-size: 3rem;
  line-height: 1.1;
}

.story-para{
  line-height: 1.5;
  font-size: 1.5rem;
  margin-top: 3%;
}
